# Empêche l'envoi du dossier node_modules (généré automatiquement par npm)
node_modules/

# Empêche l'envoi du fichier .env (protège ton token Telegram)
.env

# Fichiers de logs générés par npm
npm-debug.log

# Fichiers système inutiles (macOS)
.DS_Store
